body {
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    top: 20px;
    width: 100%;
}

.nav-inline {
    position: fixed;
    top: 0;
    left: 0;
	margin-left: 15%;
    margin-right: 15%;
    height: 30px;
    width: 100%;

}

ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #AAAAAA;
}

img {
    width: 33%;
    height: 33%;
	-webkit-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.11); 
    box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.11);
}

.active {
    background-color: #DDDDDD;
}

.fields {
    width: 33%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

label {
    padding-right: 14px;
    min-width: 64px;
}

input {
    padding-right: 4px;
    flex-grow: 1;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

