/* Mobile Styles */
@media only screen and (max-width: 500px) {
    
    p {
      font-size: calc(1em + 2vw);
    }
  
    img {
      height: 90%;
      width: 90%;
    }
  }
  /*===============================================================*/
  /* Tablet Styles */
  @media only screen and (min-width: 501px) and (max-width: 960px) {
 
    img {
      height: 90%;
      width: 90%;
      margin: 3%;
    }
  }
  /*===============================================================*/
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    img {
      height: 90%;
      width: 90%;
    }
  
    p {
      font-size: calc(0.5em + 0.5vw);
    }
  }

  html {
    font-family: 'Roboto', sans-serif;
  }

  body {
        position: relative;
        top: 40px;
        padding-left: 10px;
        background-color: #95bddc;
}

.nav-inline {
    position: fixed;
    top: 0;
    left: 0;
    
}

.nav-ul {
    list-style-type: none;
    display: flex;
    margin-top: 0;
    overflow: hidden;
    background-color:  #c2d1e5;
    border-radius: 25px;
    width: 100%;
}


.nav-li a {
    display: block;
    color: #000000;
    background-color:  #c2d1e5;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: calc(1em + 0.3vw);
}

.nav-li a:hover {
    background-color: #fbc6d0;
}

.workshop-li {
    display: flex;
    text-align: left;
    text-decoration: none;
}

.workshop-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.workshop-li a:hover {
    background-color: #fbc6d0;
    text-decoration: none;
}

.workshop-li a {
  text-decoration: none;
}


img {
    width: 50%;
    height: 50%;
	-webkit-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.11); 
    box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.11);
}

.active {
    background-color: #fb4c1f;
}

.fields {
    width: 33%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

label {
    padding-right: 14px;
    min-width: 64px;
}

input {
    padding-right: 4px;
    flex-grow: 1;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

